
.topnav { 
    background-color:lightgrey;
    opacity: 50%;
    margin: 0px;
    padding: 20px;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    width: 100%;
    font-family: 'copperplate';
    font-weight: bolder;
    font-size: 30px;
    border: black;
    
}

.topnav a { 
    float: left;
    color: black;
    font-size: 17px;
    border-width: 10px;
    margin: 20px;
    text-align: center;
    display: block;
    text-align: center;

   
   
   }

.topnav a:hover {
    background-color: red;
    opacity: 75%;
}

head { 
    z-index: 2;
    margin-top: 100px;
}

.BChead {
    position: relative;
    top: 90px;
}

iframe {
    display: inline;
}




a { color: black;

}


body {
    background: grey;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
   
}




h1 {
    position: relative;
    font-family: 'copperplate';
    text-align: center;
    font-size: 50px;
    margin: 0px auto;
    border: 5px black dashed;
    padding: 15px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: gainsboro;
    color: black;
}

p {
  font-family: 'Courier New';
  font-size: 18px;
  display: block;
  position: relative;
  

  
  }

.wbp {
    height: 300px;
    width: 500px;
    position: relative;
   
}


    

.imagemain {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg");
}

h2,h3{
    font-family: 'copperplate';
    margin: 0px auto;
    border: solid black;
    width: 400px;
    text-align: center;
}






